
 nav{
    position:relative;
    margin: -8px auto 0;
    width: 1650px;
    height: 50px;  
    border-radius: 8px;
    font-size: 10;
    box-shadow: 2px 3px 0 rgba(0,0,0,0.1);
    background-color: #c7bda7;

 
    display: inline-block;
    /*لون حواف المستطيل */
    color: #e0e8ea;
  
 }
/*nav ul 
{
    display: inline-block;
    list-style: none;
}*/

/*طريقه عرض الكتابه*/
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    /*حجم الخط*/
    font-size: 20px;
    /*لون الخط*/
    color: #0b171b ;
    font-family: sans-serif;
 
}

/*.helpp{
    margin-left: 675px;}*/
/* nav ul li button:hover
{
  
    color:  #1c8ad9; 
    font-weight: 200;
}*/

nav ul li a:hover
{
    color:   #fdfdfd;
font-weight: 200;
}