body{
    background-color: #e0e8ea;
  
      } 

 

/* text morrly */
.main-page{
    margin-top: 170px;
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e0e8ea;
    }
  /*hom */  
.main-page a{
    font-family: sans-serif;
   font-size: 20px;
    text-align: center;
   text-decoration:none;
    display: inline-block;
    color: #ffffff;
    border: 2px solid #e0e8ea;
    padding: 14px;

/*box shapp*/
    border-radius: 1000px;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
}
    
 video{
    position: absolute;
    right: -1;
    bottom: 0;
    z-index: -1;
}


