body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(3.jpg);

  }
  nav{
    flex: 1;
    text-align: left;
    display: inline-block;
    color: #e0e8ea;
    border-style: solid;
    border-width: 1px;
    border-color: #c7bda7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #c7bda7;
} ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: #0b171b ;
    font-family: sans-serif;
    font: weight 400px;
   

   
}
 .helpp{
    margin-left: 675px;}
nav ul li button:hover
{
  
    color:  #1c8ad9; 
    font-weight: 200;
}
nav ul li a:hover
{
    color:   #fdfdfd;
font-weight: 200;
}
/***********************************************************/
.sign-up-form
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 95vw;
	margin: 2% auto 0;;
	color:#000000 ;
	border-radius: 20px;
	
}
.sign-up-form h1{
    color:#000000 ;
    margin: bottom 30px; ;
}

input{
    color: rgb(17, 8, 8);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 1px 0;
    border: none;
    outline: none;
    cursor: pointer;
	
}
.input-box{
    border-radius: 500px;
    padding: 10px;
    margin: 1px 0;
    width: 100%;
    border: 1px solid #999 ;
    outline: none;
	
}

.tweetir-btn
{
	text-indent: 0px;
	height: 40px;
	width: 300px;
	margin-top: 10px;
	background-color: #1c8ad9;
	transition: "2s";
	border: none;
	color: white;
	font-weight: bolder;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
	outline: none;

}
.tweetir-btn:hover
{
	color: #5a5449;
	cursor: pointer;
}

.foot
{
	color: #5a5449;
	font-weight: lighter;
	margin-top: 40px;
}
/*************************/
hr{
	
    margin-top:20px;
    width: 80px ;
}
.or{
background: #fff;
width: 30px;
margin: -19px auto 10px;
    
}

.h1{
    font-family: sans-serif;
}
.checkbox{

    display:inline-flex;
    align-items: left;
    
    }
input[type="checkbox"]{
    
    height: 16px;
    width: 15px;
    }
	.helpp{
		margin-left: 675px;
	}
	/**************************************************************************************************/
	
.monkeylogin
{   width: 400px;
	align-items: center;
	border-radius: 400px;	
	box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
    padding: 20px;
    outline: none;
	background-color: #FFFDF8;
}
.animcon
{
	background-color: white;

	overflow: hidden;
	/*overflow hidden because to keep the hand image hidden below*/
	margin-top:20px;
	height: 170px;
	width: 170px;
	border-radius: 50%;
	/*monkey*/
	background-image:url(https://raw.githubusercontent.com/naaficodes/Monkey-Login/master/images/monkey.gif);
	background-size: 90% 85%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .2);

	/*flex center to keep the hand image in the center*/
	display: flex;
	align-items: center;
	flex-direction: column;
}
.animcon img
{
	margin-top:110%;
	height: 170px;
	width: 170px;
	transition: 1s;
}

.formcon
{
	margin-top: 38px;
}