body{
   
    background-image: url(3.jpg);

  }
  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  nav {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 14px; /* corrected font size */
    /*box-shadow: 2px 3px 0 rgba(168, 30, 30, 0.1);*/
    background-color: #c7bda7;
    display: flex;
    align-items: center;
    color: #e0e8ea;
  }
  
  nav ul {
    list-style: none; /* moved from nav ul li */
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 70px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #0b171b;
    font-family: sans-serif;
    text-align: left;
    left: 40px;
    position: relative; /* changed to relative for proper positioning */
    font-weight: 200px;

  }
  
  nav ul li a:hover {
    color: #fdfdfd;
    font-weight: 200;
  }
 /* 
nav ul li button:hover
    {
        color:  #1c8ad9; 
        font-weight: 200px;
    }*/
/*********************************************************************************************************/
.sign-in-form{
width: 500px;
box-shadow: 0 0 3px 0 rgba (0,0,0,0.3);
background: #FFFDF8;
padding: 20px;
border-radius: 20px;
margin: 5% auto 0;
box-shadow: 0 01px 1px rgb(0, 0, 0);
}


.sign-in-form h2{
    /*البعد عن  sin up*/
    padding: 30px;
text-align: center;
    color:#000000 ;
    margin: bottom 20px; 


}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px ;
    width: 80%;
    border: 1px solid #999 ;
    outline: none;
    margin-left: 40px;
    

}

input{
    color: rgb(17, 8, 8);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;

  /* show*/
    border: 1px solid #13544e;
    border-radius: 5px;
    margin-bottom: 15px;
    }
    .show input:hover{
    
        border: 2px solid #13544e;
        box-shadow: 1px 1px 7px black;
        transition: 0.3s;
    }

    
    /*submit*/
.sign-in-btn{
    background-color: #1c8ad9;
    width: 50%;
    margin-left: 130px;
}
/*نوع الخط*/
h1{
    font-family: sans-serif;
}
.checkbox{
    margin-left: 500px;
}
/*.show{
        border: 2px solid #13544e;
        box-shadow: 1px 1px 7px black;
        transition: 0.3s;
}
*/
